= form_for [@campaign, @banner], html: { class: 'form-horizontal', role: 'form', multipart: true } do |f|
  = render 'form_errors', { record: @banner }

  .form-group
    = f.label :percentage_of_shows, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :percentage_of_shows, class: 'form-control'

  .form-group
    = f.label :landing_page, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :landing_page, class: 'form-control'

  .form-group
    = f.label :image, class: 'col-sm-2 control-label'
    .col-sm-10
      = image_tag(@banner.image_url) if @banner.image?
      = f.file_field :image, class: 'form-control'
      = f.hidden_field :image_cache


  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
