= form_for @campaign, html: { class: 'form-horizontal', role: 'form' } do |f|
  = render 'form_errors', { record: @campaign }

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :landing_page, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :landing_page, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
