.page-header
  .row
    .col-sm-1
      = link_to campaigns_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
        Back
    .col-sm-1
      = link_to @campaign, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-info-sign
        Show
    .col-sm-10

  %h1 Editing campaign

= render 'form'
