:javascript
  var request = new XMLHttpRequest();
  request.open('GET', '#{display_banner_campaign_url(@campaign)}', true);

  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      document.getElementsByClassName('banner-content')[0].innerHTML = request.responseText;
    } else {
      console.log('Could not load banner data')
    }
  };

  request.send();

%div.banner-content
