.page-header
  = link_to new_campaign_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New campaign
  %h1 Campaigns

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th #
        %th Title
        %th Landing Page
        %th Weights sum
        %th
        %th

    %tbody
      - @campaigns.each do |campaign|
        %tr{ class: (:danger unless campaign.weights_sum_correct?) }
          %td= campaign.id
          %td= link_to campaign.title, campaign
          %td= link_to campaign.landing_page, campaign.landing_page
          %td= @weights_sum[campaign.id]
          %td= link_to '', [:edit, campaign], class: 'glyphicon glyphicon-edit'
          %td= link_to '', campaign, data: { method: :delete, confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove'
