.page-header
  .row
    .col-sm-1
      = link_to campaigns_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
        Back
    .col-sm-1
      = link_to edit_campaign_path(@campaign), class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-pencil
        Edit
    .col-sm-10

  %h1 Campaign details

%dl.dl-horizontal
  %dt Title
  %dd= @campaign.title

  %dt Landing Page
  %dd= link_to @campaign.landing_page, @campaign

  %dt Most clicked domain
  %dd= @campaign_aggregated_data[:most_clicked_domain]

  %dt Most viewed domain
  %dd= @campaign_aggregated_data[:most_viewed_domain]

  %dt HTML code
  %dd
    %pre.hidden
    = link_to 'Show', [:html_code, @campaign], class: 'show-banner-html-code', data: { remote: true }

.page-header
  %h3 Banners

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th #
        %th Banner Image
        %th Banner details
        %th

    %tbody
      - @banners.each do |banner|
        %tr
          %td= banner.id
          %td= image_tag(banner.image_url, class: 'img-responsive') if banner.image?
          %td
            %dl.dl-horizontal
              %dt Percentage of shows
              %dd= number_to_percentage(banner.percentage_of_shows, precision: 0)

              %dt Banner LP
              %dd= link_to banner.landing_page, banner.landing_page

              %dt Default/current LP
              %dd= link_to banner.current_landing_page, banner.current_landing_page

              %dt Unique users clicked
              %dd= @campaign_aggregated_data[:unique_users_clicked][banner.id]

              %dt Unique users viewed
              %dd= @campaign_aggregated_data[:unique_users_viewed][banner.id]

          %td
            = link_to '', [:edit, @campaign,  banner], class: 'glyphicon glyphicon-edit'
            = link_to '', [@campaign, banner], data: { method: :delete, confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove'

.page-header
  %h3 New banner

= render 'banners/form'
