-if record.errors.any?
  .alert.alert-danger.alert-dismissable{ role: "alert" }
    %button.close{ type: "button", data: { dismiss: "alert" } }
      %span{aria: { hidden: "true" } } &times;
      %span.sr-only Close
    %h4= "#{pluralize(record.errors.count, "error")} prohibited this banner from being saved:"
    %ul
      - record.errors.full_messages.each do |msg|
        %li= msg
